/**
 * partials/header
 * ---
 */


// Header container
.header {
  padding: 0;
  margin: 0;
}

// Navbar Top
.navbar--top {
  background-color: #E8E7E6;
  font-size: 14px;
  letter-spacing: .03em;
  height: 40px;
}

// Navbar Main
.navbar--main {
  font-size: 14px;
}

// Logo
.logo-img {
  height: 60px;
  width: 150px;
}
