/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */
@import url('https://fonts.googleapis.com/css?family=Hind:400,700|Roboto+Slab');
$font-family-base: 'Roboto Slab', serif;
$font-family-secondary: 'Hind', sans-serif;
$font-size-base: 1.6rem;
/**
 * Colors
 */

// $text-color: #000;
// $body-bg: #fff;


/**
 * Grid
 */
$grid-columns: 12; // Set number of columns in the grid
  
$xs-max: 40rem; // Set xs breakpoint's max width
$sm-max: 64rem; // Set sm breakpoint's max width
$md-max: 90rem; // Set md breakpoint's max width
$lg-max: 120rem; // Set lg breakpoint's max width
  
$gutter: 1rem; // Set gutter size
  
$content-well-max-width: "none"; // Set the max-width of the content well

 
